.content_center .container { position: relative; }

.content_center .container .rexiao { width: 224px; position: absolute; background-color: #fff; }

.content_center .container .rexiao .rexiaoli { background-color: #fff; }

.couponCenter { padding-top: 10px; }
